<ul>
    <!--product-->
    <li>
        <h3><a href="#job">Job</a></h3>
    </li>
    <li><a href="#p-all">Get all job</a></li>
    <li><a href="#p-single">Get a single job</a></li>
    <li><a href="#p-owner">Get jobs by owner</a></li>
    <li><a href="#p-category">Get job by category</a></li>
    <li><a href="#p-new">Add new job</a></li>
    <li><a href="#p-update">Update a job</a></li>
    <li><a href="#p-update-view">Update view job</a></li>
    <li><a href="#p-delete">Delete a job</a></li>
</ul>

<ul>
    <!--cart-->
    <li>
        <h3><a href="#category">Category</a></h3>
    </li>
    <li><a href="#c-all">Get all</a></li>
    <li><a href="#c-single">Get a single</a></li>


    <li><a href="#c-new">Add new category</a></li>
    <li><a href="#c-update">Update a category</a></li>
    <li><a href="#c-delete">Delete a category</a></li>
</ul>

<ul>
    <!--user-->
    <li>
        <h3><a href="#user">User</a></h3>
    </li>
    <li><a href="#u-all">Get all</a></li>
    <li><a href="#u-single">Get a single</a></li>

    <li><a href="#u-limit">Limit results</a></li>
    <li><a href="#u-sort">Sort results</a></li>

    <li><a href="#u-new">Add</a></li>
    <li><a href="#u-update">Update</a></li>
    <li><a href="#u-delete">Delete</a></li>
</ul>

<ul>
    <!--auth-->
    <li>
        <h3><a href="#auth">Login</a></h3>
    </li>
    <li><a href="#a-login">User login</a></li>
    <li><a href="#a-register">User register</a></li>
</ul>